.box{
    width: 1249px;
    height: 376px;
    margin-top: 73px;
    margin-left: 86px;
    border-radius: 30px;
    background-color: #22F4DA;
    
}
h2{
    padding-left: 536px;
    padding-top: 29px;
}